@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@viewport {
   width: device-width; /* largeur du viewport */
   zoom: 1; /* zoom initial à 1.0 */
}

*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}

body{
height: 100vh;
width: 100%;
}

img{
	display: block;
	width:100%;
	height:auto;
	box-shadow: 7px 12px 18px lightgray;
}
#slider{
	width:70%;
	height:auto;
	padding:10px;
	margin:120px;
	border-radius:8%;
}
.thumb{
	border-radius: 50%;
	box-shadow: 7px 12px 18px lightgray;
	padding:2px;
}
header{
	border-bottom: 2px solid black;
	text-align:center;
	width:100%;
	height: 10%;
}

h1{
	letter-spacing: 1.2px;
}

h2{
	text-align:center;
	font-weight: 400;
	padding-top: 30px;
	color: white;
}
p{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 15px;
}
/*mdp*/
#userPassword{
	width: 50px;
	color: gray;
}

/*erreur*/
#body{
	background-color: black;
	height: 100vh;
	width: 100%;
}
#erreur{
	width: 100%;
	height:auto;
}
#imgErreur{
	width: 50%;
	height: auto;
	padding: 50px;
	text-align: center;
	margin: auto;
	display: flex;
	box-shadow: none;

}
/*footer*/
footer{
	width:100%;
	height: 10%;
	border-top: 2px solid black;
	text-align:center;
	padding: 10px;
}
.footer{
	color: white;
}
a{
	padding: 20px;
}
/* logo */
ul li{
list-style: none;
display: flex;
justify-content: center;
}

.logo{
border-radius: 50%;
box-shadow: 7px 12px 18px lightgray;
padding:5px;
width:40px;
}
.logo:hover{
	transform: translateX(8px);
}
/*---------------------------------------------------------------------------------------------------------------*/
/*slider*/
/*La planche en grand*/
#comics{
display: flex;
width:auto;
height: 80%;
}
/*l'ensemble des boutons*/
.summary{
display: grid;
grid-template-columns: repeat(3,1fr);
width:30%;
height: 50%;
margin-top: 15%;
}
/*boutons*/
img{
display: block;
width:100%;
height:auto;
box-shadow: px 12px 18px lightgray;
}

/*tout entre header et footer*/
section{
display: flex;
flex-direction: row;
width: 100%;
height: 80%;
}
section .navigation li{
cursor: pointer;
list-style: none;
display: flex;
width: 50px;
padding: 20px;
}
section .navigation li:hover{
	transform: translateY(-8px);
}

/*---------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:500px) and (max-width: 1300px) {

body{
height: 100vh;
width: 100%;
display:flex;
flex-direction: column;
}

header{
border-bottom: 2px solid black;
text-align:center;
width:100%;
height:10%;
}
p{
padding-left: 7px;
padding-right: 7px;
padding-top: 2px;
padding-bottom: 2px;
}
section{
width:100%;
height: 80%;
}
footer{
width:100%;
height: 10%;
display: flex;
justify-content: center;
flex-direction: column;
}
h1{
letter-spacing: 1px;
font-size: 18px;
}

h2{
	text-align:center;
	padding: 10px;
	color: white;
	font-size: 16px;
}
p{
	text-align: center;
}
/*img bouton*/
img{
	box-shadow: none;
	font-size: 8px;
}
/*ce qui encapsule img planche*/
#comics{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 10px;
padding-bottom: 10px;
}
/*img planche*/
#slider{
width:100%;
height: 100%;
padding:5px;
margin:2px;
}


.summary{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
margin: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

section .navigation li{
	cursor: pointer;
	list-style: none;
	display: flex;
	width: 50px;
	padding: 10px;
}
.copyright{
font-size: 12px;
}
.logo{
width:30px;
height: 30px;
}

}
@media screen and (min-width:180px) and (max-width: 500px){
body{
height: auto;
width: 100%;
display:flex;
flex-direction: column;
}
header{
border-bottom: 2px solid black;
text-align:center;
width:100%;
height:10%;
}
section{
width:100%;
height: auto;
}
footer{
width:100%;
height: auto;
display: flex;
justify-content: center;
flex-direction: column;
}
/*ce qui encapsule img planche*/
#comics{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	}	
/*slider*/
/*La planche en grand*/
#comics{
display: flex;
width:auto;
height: 100%;
}
	/*l'ensemble des boutons*/
	.summary{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width:30%;
	height: 50%;
	margin-top: 15%;
	}
	/*boutons*/
	img{
	display: block;
	width:100%;
	height:auto;
	box-shadow: px 12px 18px lightgray;
	}	
}