@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*RESET*/
@viewport {
width: device-width; /* largeur du viewport */
zoom: 1; /* zoom initial à 1.0 */
}

*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
}

body{
    text-align: center;
    background: black;
    color: white;
    padding: 22px;
}
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 22px;
    text-align: center;
}
h1{
    letter-spacing: 7px;
    font-weight: 100;
}
p{
width: 50%;
height: auto;
text-align: center;
padding: 22px;
}
img{
    width: 300px;
    height: auto;
    padding: 22px;
}
